// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
 */

#include "canoe.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Alor Interposer";
	compatible = "qcom,alor";
	qcom,msm-id = <704 0x10000>, <704 0x20000>,
			<0x10002C0 0x10000>, <0x10002C0 0x20000>;
};

&cache_cont {
		compatible = "qcom,alor-llcc";
};

/delete-node/ &qcom_qpace;

&ddr_freq_table {
	qcom,freq-tbl =
		<  547000 >,
		< 1353000 >,
		< 1555000 >,
		< 1708000 >,
		< 2092000 >,
		< 2736000 >,
		< 3187000 >,
		< 3686000 >,
		< 4224000 >,
		< 4780000 >;
};
