// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include "bourtzi-pmic-overlay.dtsi"
#include "bourtzi-pmiv010x.dtsi"

&pmiv010x_amoled {
	status = "okay";
};

&pmiv010x_amoled_ecm {
	status = "okay";
};
