// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include "bourtzi.dtsi"

&soc {
	/* Delete old reserved_memory & add new node here */
};
