// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/iio/qcom,spmi-adc5-gen3-pmxr2230.h>
#include <dt-bindings/iio/qcom,spmi-adc5-gen3-pm8550vx.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>

&spmi0_bus {
	#include "pmk8550.dtsi"
	#include "pmxr2230.dtsi"
	#include "pm8550vs.dtsi"
	#include "pmr735b.dtsi"
};

&pm8550vs_c {
	status = "ok";
};

&led_controller {
	nvmem = <&pmk8550_sdam_21>, <&pmk8550_sdam_22>;
	nvmem-names = "lpg_chan_sdam", "lut_sdam";
	status = "ok";
};

&pmxr2230_flash_1 {
	status = "ok";
};

&soc {
	reboot_reason {
		compatible = "qcom,reboot-reason";
		nvmem-cells = <&restart_reason>;
		nvmem-cell-names = "restart_reason";
	};
};

&thermal_zones {
	pmr735b_temp_alarm: pmr735b_tz {
		polling-delay-passive = <100>;
		thermal-sensors = <&pmr735b_tz>;

		trips {
			pmr735b_trip0: trip0 {
				temperature = <95000>;
				hysteresis = <0>;
				type = "passive";
			};

			pmr735b_trip1: trip1 {
				temperature = <115000>;
				hysteresis = <0>;
				type = "critical";
			};

			pmr735b_trip2: trip2 {
				temperature = <145000>;
				hysteresis = <0>;
				type = "critical";
			};
		};
	};

	pmxr2230_temp_alarm: pmxr2230_tz {
		polling-delay-passive = <100>;
		thermal-sensors = <&pmxr2230_tz>;

		trips {
			pmxr2230_trip0: trip0 {
				temperature = <95000>;
				hysteresis = <0>;
				type = "passive";
			};

			pmxr2230_trip1: trip1 {
				temperature = <115000>;
				hysteresis = <0>;
				type = "critical";
			};

			pmxr2230_trip2: trip2 {
				temperature = <145000>;
				hysteresis = <0>;
				type = "critical";
			};
		};
	};

	pm8008o-thermal {
		polling-delay-passive = <100>;
		thermal-sensors = <&pm8008o>;

		trips {
			trip0 {
				temperature = <95000>;
				hysteresis = <0>;
				type = "passive";
			};

			trip1 {
				temperature = <115000>;
				hysteresis = <0>;
				type = "critical";
			};
		};
	};

	pm8008p-thermal {
		polling-delay-passive = <100>;
		thermal-sensors = <&pm8008p>;

		trips {
			trip0 {
				temperature = <95000>;
				hysteresis = <0>;
				type = "passive";
			};

			trip1 {
				temperature = <115000>;
				hysteresis = <0>;
				type = "critical";
			};
		};
	};
};

&pmxr2230_gpios {
	key_vol_up {
		key_vol_up_default: key_vol_up_default {
			pins = "gpio6";
			function = "normal";
			input-enable;
			bias-pull-up;
			power-source = <1>;
		};
	};
};

&soc {
	gpio_key {
		compatible = "gpio-keys";
		label = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&key_vol_up_default>;
		vol_up {
			label = "volume_up";
			gpios = <&pmxr2230_gpios 6 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEUP>;
			gpio-key,wakeup;
			debounce-interval = <15>;
			linux,can-disable;
		};
	};

	pmic-pon-log {
		compatible = "qcom,pmic-pon-log";
		nvmem = <&pmk8550_sdam_5>, <&pmk8550_sdam_6>;
		nvmem-names = "pon_log0", "pon_log1";
		depends-on-supply = <&wdog>;
	};
};

&pmk8550_gpios {
	pinctrl-0 = <&alt_sleep_clk_default>;
	pinctrl-names = "default";

	alt_sleep_clk {
		alt_sleep_clk_default: alt_sleep_clk_default {
			pins = "gpio3";
			function = "func1";
			input-disable;
			output-enable;
			bias-disable;
			power-source = <0>;
		};
	};
};

&tlmm {
	pm8008o_int_default: pm8008o-int-default-state {
		pins = "gpio23";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	pm8008p_int_default: pm8008p-int-default-state {
		pins = "gpio13";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

};

&pm8550vs_c_gpios {
	pm8008o_reset_n_default: pm8008o-reset-n-default-state {
		pins = "gpio5";
		function = PMIC_GPIO_FUNC_NORMAL;
		bias-pull-down;
	};

	pm8008p_reset_n_default: pm8008p-reset-n-default-state {
		pins = "gpio6";
		function = PMIC_GPIO_FUNC_NORMAL;
		bias-pull-down;
	};
};

&qupv3_se1_i2c {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "ok";
	pm8008o: pmic@8 {
		compatible = "qcom,pm8008";
		reg = <0x8>;
		interrupts-extended = <&tlmm 23 IRQ_TYPE_EDGE_RISING>;
		reset-gpios = <&pm8550vs_c_gpios 5 GPIO_ACTIVE_LOW>;
		vdd-l1-l2-supply = <&S2B>;
		vdd-l3-l4-supply = <&BOB1>;
		vdd-l5-supply = <&BOB1>;
		vdd-l6-supply = <&BOB1>;
		vdd-l7-supply = <&BOB1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pm8008o_int_default>,
			    <&pm8008o_reset_n_default>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&pm8008o 0 0 2>;

		interrupt-controller;
		#interrupt-cells = <2>;

		#thermal-sensor-cells = <0>;

		regulators {
			L1O: pm8008o_l1: ldo1 {
				regulator-name = "pm8008o_l1";
				regulator-min-microvolt = <1048000>;
				regulator-max-microvolt = <1184000>;
			};

			L2O: pm8008o_l2: ldo2 {
				regulator-name = "pm8008o_l2";
				regulator-min-microvolt = <952000>;
				regulator-max-microvolt = <1152000>;
			};

			L3O: pm8008o_l3: ldo3 {
				regulator-name = "pm8008o_l3";
				regulator-min-microvolt = <2696000>;
				regulator-max-microvolt = <2904000>;
			};

			L4O: pm8008o_l4: ldo4 {
				regulator-name = "pm8008o_l4";
				regulator-min-microvolt = <2696000>;
				regulator-max-microvolt = <2904000>;
			};

			L5O: pm8008o_l5: ldo5 {
				regulator-name = "pm8008o_l5";
				regulator-min-microvolt = <1504000>;
				regulator-max-microvolt = <3544000>;
			};

			L6O: pm8008o_l6: ldo6 {
				regulator-name = "pm8008o_l6";
				regulator-min-microvolt = <2696000>;
				regulator-max-microvolt = <2904000>;
			};

			L7O: pm8008o_l7: ldo7 {
				regulator-name = "pm8008o_l7";
				regulator-min-microvolt = <2696000>;
				regulator-max-microvolt = <3000000>;
			};
		};
	};

	pm8008p: pmic@c {
		compatible = "qcom,pm8008";
		reg = <0xc>;

		interrupts-extended = <&tlmm 13 IRQ_TYPE_EDGE_RISING>;
		reset-gpios = <&pm8550vs_c_gpios 6 GPIO_ACTIVE_LOW>;

		vdd-l1-l2-supply = <&S2B>;
		vdd-l3-l4-supply = <&S1B>;
		vdd-l5-supply = <&S1B>;
		vdd-l6-supply = <&BOB1>;
		vdd-l7-supply = <&BOB1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pm8008p_int_default>,
			    <&pm8008p_reset_n_default>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&pm8008p 0 0 2>;

		interrupt-controller;
		#interrupt-cells = <2>;

		#thermal-sensor-cells = <0>;

		regulators {
			L1P: pm8008p_l1: ldo1 {
				regulator-name = "pm8008p_l1";
				regulator-min-microvolt = <1048000>;
				regulator-max-microvolt = <1200000>;
			};

			L2P: pm8008p_l2: ldo2 {
				regulator-name = "pm8008p_l2";
				regulator-min-microvolt = <952000>;
				regulator-max-microvolt = <1152000>;
			};

			L3P: pm8008p_l3: ldo3 {
				regulator-name = "pm8008p_l3";
				regulator-min-microvolt = <1696000>;
				regulator-max-microvolt = <1904000>;
			};

			L4P: pm8008p_l4: ldo4 {
				regulator-name = "pm8008p_l4";
				regulator-min-microvolt = <1696000>;
				regulator-max-microvolt = <1904000>;
			};

			L5P: pm8008p_l5: ldo5 {
				regulator-name = "pm8008p_l5";
				regulator-min-microvolt = <1616000>;
				regulator-max-microvolt = <1984000>;
			};

			L6P: pm8008p_l6: ldo6 {
				regulator-name = "pm8008p_l6";
				regulator-min-microvolt = <2696000>;
				regulator-max-microvolt = <2904000>;
			};

			L7P: pm8008p_l7: ldo7 {
				regulator-name = "pm8008p_l7";
				regulator-min-microvolt = <2496000>;
				regulator-max-microvolt = <3304000>;
			};
		};
	};
};
