// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include "sdxkova-idp-cpe.dtsi"
#include "sdxkova-qcn9224.dtsi"

&soc {
};

&wifi0 {
	board_id = <0x1003>;
};

&wifi2 {
	status = "disabled";
};

&qcn9224_2_mem {
	status = "disabled";
};
