// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include "shikra.dtsi"
#include "shikra-lite-thermal.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Shikra Lite CQM SoC";
	compatible = "qcom,shikra-lite-cqm";
	qcom,msm-id = <756 0x10000>;
};
