// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include <dt-bindings/gpio/gpio.h>

&tlmm {
	eusb6_reset_n: eusb6-reset-n-state {
		pins = "gpio184";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};
};

&qupv3_se5_i2c {
	clock-frequency = <400000>;

	status = "okay";

	eusb6_repeater: redriver@4f {
		compatible = "nxp,ptn3222";
		reg = <0x4f>;

		vdd1v8-supply = <&L4B>;
		vdd3v3-supply = <&L13B>;

		reset-gpios = <&tlmm 184 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&eusb6_reset_n>;
		pinctrl-names = "default";

		#phy-cells = <0>;
	};
};

&usb_mp_hsphy0 {
	status = "okay";
};

&usb_mp_hsphy1 {
	phys = <&eusb6_repeater>;
	status = "okay";
};

&usb_mp_qmpphy0 {
	status = "okay";
};

&usb_mp_qmpphy1 {
	status = "okay";
};

&usb_mp {
	status = "okay";
};

&smb2360_0_eusb2_repeater {
	vdd18-supply = <&L3D>;
	vdd3-supply = <&L2B>;
};

&usb2_phy_0 {
	phys = <&smb2360_0_eusb2_repeater>;
	status = "okay";
};

&usb3_phy_0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	usb-role-switch;
};

&ucsi {
	/* Left-side front port */
	connector {
		compatible = "usb-c-connector";
		power-role = "dual";
		data-role = "dual";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				pmic_glink_port0_hs_in: endpoint {
					remote-endpoint = <&usb_port0_hs_in>;
				};
			};
		};
	};

};

&usb_port0_hs_in {
	remote-endpoint = <&pmic_glink_port0_hs_in>;
};

&smb2360_1_eusb2_repeater {
	vdd18-supply = <&L3D>;
	vdd3-supply = <&L14B>;
};

&usb2_phy_1 {
	phys = <&smb2360_1_eusb2_repeater>;
	status = "okay";
};

&usb3_phy_1 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&usb2_phy_4 {
	status = "okay";
};

&usb4 {
	status = "okay";
};
