# Defaults
  version=0x1
  id=0x0
  rev=0xFFFF0000
  custom0=0x0
# SKU ID is used for DTB/DTBO matching purposes.
# The 0xFFFFFFFF default value matches all possible SKUs.
  custom1=0xFFFFFFFF
  custom2=0x0
# Compress DT entries using LZ4
  flags=0x3
# Include dtb/dtbo to dtbo.img
x1e80100.dtb
x1e80100-crd-overlay.dtbo
